.CommentContainer{
  width: 1000px;
  margin: 0 auto;
}
.textarea{
  padding: 20px;
  width: 600px;
  font-size: 16px;
  display: block;
  margin: 20px auto;
  background: none;
}

h1{
  text-align: center;
}
.ul{
  text-align: center;
  margin: 0 auto;
  width: 400px;
}
.li{
  display: flex;
  
  margin: 0 auto;
  display: block;
  justify-content: space-around;
}
.btn{
  background: #fff;
  color: black;
  border: 1px solid #3339;
  text-transform: uppercase;
}